<div class="container">
  <%= form_with model: @article, local: true do |form| %>
  <div class="row">
  <div class="col-3"></div>
    <div class="col-6  ">

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :category_id %><br>
    <%= form.select :category_id, Category.all.map { |c| [ c.name, c.id]} %>
  </p>

  <p align="center">
    <%= form.submit class: 'btn-primary btn' %>
  </p>
</div>
<div class="col-3"></div>
</div>
<% end %>
</div>
