<script>
  $("#header").html("<h2>Forgot your password?</h2>")
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-0 col-md-4"></div>
    <div class="col-sm-12 col-md-4">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 55 %>
  </div>

  <div class="actions" align="center"  style="margin-top:20px;">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
  <div align="center">
    <%= render "devise/shared/links" %>
  </div>
</div>
<div class="col-sm-0 col-md-4"></div>
</div>
</div>
